<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export Complete</title>
    <!-- Bootstrap CSS for styling (optional) -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3p0R4J21tz9n1jeaV0x12P5/*snip*/"
      crossorigin="anonymous"
    >
    <style>
        .container {
            padding-top: 5rem;
            max-width: 600px;
        }
    </style>
</head>
<body>

<div class="container text-center">
    <h1 class="mb-4">Export Complete!</h1>
    <p class="lead mb-4">All your playlists have been exported to your YouTube account.</p>
    <a href="https://www.youtube.com/feed/you" class="btn btn-success" target="_blank">Go to My Playlists</a>
</div>

<!-- Bootstrap JavaScript, same as in the previous example -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-Df/*snip*/" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-L2/*snip*/" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSd/*snip*/" crossorigin="anonymous"></script>

</body>
</html>
